/*  
.login-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 10px;
    padding: 20px;
  }
  
  .login-container {
    width: 100%;
  }
  .login-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .login-form-user,
  .form-group-user,
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form-group {
    gap: 5px;
  }
  
  .form-group-user label {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
  }
  
  .form-group-user input {
    padding: 12px;
    border: 2px solid black;
    font-size: var(--fontSize);
    border-radius: 2px;
    width: 100%;
  }
  
  .forgot-password {
    text-align: right;
    margin-top: 5px;
  }
  
  .forgot-password a {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  .signin-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px;
    font-size: var(--fontSize);
    font-weight: var(--fontWeightXL);
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    align-self: center;
  }
  
  .login-divider {
    text-align: center;
    position: relative;
    font-weight: normal;
    font-size: var(--fontSize);
  } */